<AuthorizeView>
    <Authorized>
        @context.User.Claims.FirstOrDefault(c => c.Type == "name")?.Value
        &nbsp;
        <a href="MicrosoftIdentity/Account/SignOut" style="color: white;">Log out</a>
    </Authorized>
    <NotAuthorized>
        <a href="MicrosoftIdentity/Account/SignIn" style="color: white;">Log in</a>
    </NotAuthorized>
</AuthorizeView>
