# Auto-detect text files, ensure they use LF.
* text=auto eol=lf working-tree-encoding=UTF-8

# Bash scripts
*.sh text eol=lf

# .NET files
*.cs text=auto diff=csharp
*.csproj text=auto
*.sln text=auto eol=crlf
