@page "/"

<PageTitle>AI Proxy Admin</PageTitle>

<MudStack>
    <MudStack Row="true">
        <MudText Typo="Typo.h4">Welcome</MudText>
        <MudSpacer />
        <MudLink Target="_blank" Href="https://microsoft.github.io/azure-openai-service-proxy">
            <MudIcon Icon="@Icons.Material.Filled.Help" />
        </MudLink>
    </MudStack>
    <MudText Typo="Typo.body1">Manage your events and resources for the Azure AI Proxy using the options on the menu.
    </MudText>
    <MudText Typo="Typo.h5">FAQ</MudText>
    <MudText Typo="Typo.body1">
        For frequently asked questions, please visit the proxy
        <a href="https://microsoft.github.io/azure-openai-service-proxy/faq" target="_blank"
            style="color: blue; text-decoration: underline;">FAQ</a>.
    </MudText>
    <MudText Typo="Typo.h5">Documentation</MudText>
    <MudText Typo="Typo.body1">For more information on the Azure AI Proxy, please visit the <a
            href="https://aka.ms/ai-proxy-docs" target="_blank"
            style="color: blue; text-decoration: underline;">documentation</a>.</MudText>
    <MudText Typo="Typo.h5">Getting started</MudText>
    <MudText Typo="Typo.body1" style="margin-left: 20px;">
        <ol>
            <li>Create Azure AI resources you need for an event. Resources include OpenAI Models and Azure AI Search
                Indexes.</li>
            <li>Create an Azure AI Proxy resource. You will need the Azure AI Key and endpoints, along with the
                deployment name or Azure AI Search index name.</li>
            <li>Create an Azure AI Proxy event.</li>
            <li>Edit the event and add required resources to the event.</li>
            <li>Select the attendee link from the events page to get the event URL that you'll promote to attendees.
            </li>
        </ol>
    </MudText>
</MudStack>
