@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome</h1>

<p>Manage your events and resources for the Azure AI Proxy using the options in the menu.</p>

<h2>Documentation</h2>

<p>For more information on the Azure AI Proxy, please visit the <a href="https://aka.ms/ai-proxy-docs" target="_blank">documentation</a>.</p>

<h2>Getting started</h2>

<p>The following is an outline of the steps to get started with the Azure AI Proxy:</p>

<ol>
    <li>Create Azure AI resources you need for an event. Resources include OpenAI Models and Azure AI Search Indexes</li>
    <li>Create an Azure AI Proxy resource. You will need the Azure AI Key and endpoints, along with the deployment name or Azure AI Search index name</li>
    <li>Create an Azure AI Proxy event. Save the event</li>
    <li>Edit the event and add required resources to the event</li>
    <li>Select the Attendee link to get the URL for the event that you will prompt the attendees</li>
</ol>
