@page "/"

<PageTitle>AI Proxy Admin</PageTitle>

<MudStack>
    <MudStack Row="true">
        <MudText Typo="Typo.h4">Welcome</MudText>
        <MudSpacer />
        <MudLink Target="_blank" Href="https://microsoft.github.io/azure-openai-service-proxy">
            <MudIcon Icon="@Icons.Material.Filled.Help" />
        </MudLink>
    </MudStack>
    <MudText Typo="Typo.body1">Manage your events and resources for the Azure AI Proxy using the options on the menu.
    </MudText>
    <MudText Typo="Typo.h5">Documentation</MudText>
    <MudText Typo="Typo.body1">For more information on the Azure AI Proxy, please visit the <a
            href="https://aka.ms/ai-proxy-docs" target="_blank"
            style="color: blue; text-decoration: underline;">documentation</a>.</MudText>
    <MudText Typo="Typo.h5">Getting started</MudText>
    <MudList Dense="true" DisableGutters="true">
        <MudListItem><strong>Step 1:</strong> Create Azure AI resources.</MudListItem>
        <MudListItem><strong>Step 2:</strong> Create an event.</MudListItem>
        <MudListItem><strong>Step 3:</strong> Promote the event attendee link.</MudListItem>
    </MudList>

    <MudText Typo="Typo.h5">Getting started guide</MudText>
    <MudText Typo="Typo.body1">Check out this 5-minute introduction video.</MudText>
    <MudPaper Elevation="1" Padding="16px" Width="560px" Height="315px">
        <iframe src="https://www.youtube.com/embed/x9N1qivjlfw?si=n18L8F5X5p5YXHYu" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </MudPaper>

</MudStack>
