@page "/models/{id}"

@namespace AzureOpenAIProxy.Management.Components.Pages
@using AzureOpenAIProxy.Management.Components.ModelManagement

<MudStack>
    <h1>Edit model registration</h1>

    @* <ModelEditor OnValidSubmit="@HandleValidSubmit" /> *@
</MudStack>
