@page "/models/delete/{id}"

@namespace AzureOpenAIProxy.Management.Components.Pages
@using AzureOpenAIProxy.Management.Components.ModelManagement

<MudStack>
    <h1>Delete resource</h1>

    <ModelEditor OnValidSubmit="@OnValidSubmit" @bind-Model="Model" />
</MudStack>
