@page "/models/new"
@namespace AzureOpenAIProxy.Management.Components.Pages
@using AzureOpenAIProxy.Management.Components.ModelManagement

<MudStack>
    <h1>Create a new resource</h1>

    <ModelEditor OnValidSubmit="@HandleValidSubmit" />
</MudStack>
